
@media only screen and (max-width:767px){
	.logo img {
		width: 280px;
	}
	
	#main_widgets {
		position: relative;
		margin-top: 10px;
	}
	
	.textwidget_slider h2 {
		font-size: 50px;
		letter-spacing: -4px;
	}

	.textwidget_slider h4 {
		font-size: 30px;
		letter-spacing: -2px;
	}

	.textwidget_slider h1 {
		font-size: 65px;
		letter-spacing: -4px;
	}

	.textwidget_slider h3 {
		font-size: 40px;
		letter-spacing: -3px;
	}

	.textwidget_slider p {
		font-size: 15px;
		color: #fff;
		text-transform: uppercase;
		line-height: 1;
	}
	
	#banner_wrap  {
		display: none;
	}
	
	/*FOOTER---------------------------------------- */
	
	#footer_menu {
		display: none;
	}
	
	#footer_widget > li.copy .copyright {
		display: none;
	}
	
	/*VITRINA---------------------------------------- */
	
	#main-content.narrow #vitrina_inn #item,
	#main-content.fullwidth #vitrina_inn #item {
		float: left;
		width: 100%;
		position: relative;
		padding: 0px;
		margin-bottom: 30px;
		height: auto !important;
		min-height: 145px;
	}
	
	#vitrina_inn .img {
		float: left;
		width: 145px;
		padding: 10px;
		text-align: center;
		border: 20px solid #efefef;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		position: absolute;
		left: 0px;
		top: 0px;
	}

	#vitrina_inn .img img {
		width: 85px !important;
	}

	#vitrina_inn .img a {
		width: 85px;
		height: 85px;
		overflow: hidden;
		display: block;
	}
	
	#vitrina_inn a#item_title {
		float: left;
		padding-left: 165px;
	}
	
	.vitrina_text {
		float: left;
		padding-left: 165px;
	}
	
	.price_box {
		float: left;
		padding-left: 165px;
		padding-top: 20px;
	}
	
	#vitrina_inn .post-edit-link {
		position: absolute;
		bottom: 0px;
		right: 15px;
	}
	
	.new_label {
		top: 20px;
		left: 0px;
		background: #599599;
		min-width: 37px;
	}

	.sale_label  {
		top: 46px;
		left: 0px;
		background: #e53955;
		min-width: 47px;
	}
	
	#vitrina > form,
	form#order {
		display: none;
	}
	
	/*COMMENT-------------------------------------- */
	
	#commentform textarea#comment {
		width: 100%; 
	} 
	
	.comment ul.children {
		padding-left: 0px;
	}
	
	/*PRICE---------------------------------------- */
	
	#main-content .table_price tr td.img_col {
		display: none;
	}
	
	#main-content .table_price .wpshop_bag {
		min-width: 220px !important;
	}
	
	#main-content .table_price .wpshop_bag .wpshop_caption,
	#main-content .table_price .wpshop_bag .wpshop_count,
	.wpshop_table_td .wpshop_bag .wpshop_count,
	.wpshop_table .wpshop_bag .wpshop_caption {
		display:none;
	}
	
	#main-content .table_price td.wpshop_price {
		min-width: 30px !important;
	}
	
	#price > form  {
		display: none;
	}
	
	/*ROTATOR---------------------------------------- */

	#item_rotator {
		height: 128px !important;
	}

	#item_rotator  a#item_title {
		display: none !important;
	}

	#rotator {
		height: 128px !important;
	}

	#item_rotator .price_box  {
		display: none !important;
	}
	
	/*SINGLE-------------------------------------- */

	#galery_wrapp {
		position: relative;
		width:347px;
		margin: 0 auto 20px;
		overflow: hidden;
	}
	
	.single_img .img  {
		border: 1px solid #cccccc;
		margin-bottom: 10px;
		margin-right: 35px;
		position: relative;
		margin: 0 auto 20px;
		width:240px;
	}
	
	.container_img{
		width: 345px;
	}
	
	.thumb_img img{
		width: 79px;
	}

	.main_img {
		border: 1px solid #cccccc;
		margin-bottom: 15px;
	}

	.thumb_img {
		float:left;
		border: 1px solid #e0e0e1;
		margin-right: 7px;
		margin-bottom: 7px;
		overflow: hidden;
		width:79px;
		height:79px; 
		background-color: #fff;
	}
	
	.thumb_img.four_img {
		margin-right: 0px;
	}
	
	h2.page_title {
		clear: both;
		width: 100%;
	}
	
	/*CART---------------------------------------- */
	
	.recycle_bin tr td.rb_img {
		display: none;
	}
	
	.last_col_del {
		display: none;
	}
	
	.recycle_bin thead > tr > th:first-child {
		display: none;
	}
	
	.recycle_bin tfoot > tr > td.rb_delete {
		display: none;
	}
	
}

@media only screen and (max-width: 480px) {
	.logo img{
		width: 160px;
	}
	
	#cart_box  {
		clear: both;
		margin-top: 0px;
	}
	
	#cart_arrow {
		border-left: none;
	}
	.logo {
		margin-bottom: 0px;
	}
	
	/*VITRINA---------------------------------------- */
	
	#vitrina_inn .img {
		position: relative;
		margin-bottom: 10px;
		margin-right: 20px;
	}
	
	#vitrina_inn a#item_title,
	.vitrina_text {
		float: none;
		padding-left: 0px;
	}
	
	.price_box {
		float: left;
		padding-left: 0px;
		padding-top: 0px;
		clear: both;
	}
	
	#rotator_cont,
	.similar_text {
		display: none;
	}
	
	/*PRICE---------------------------------------- */
	
	#main-content .table_price tr td.price_col {
		display: none;
	}
	
	td.wpshop_table_td {
		display: none;
	}
	
	/*SINGLE-------------------------------------- */

	#galery_wrapp {
		position: relative;
		width:290px;
		margin: 0 auto 20px;
	}
	
	.container_img {
		width: 288px;
	}
	
	.thumb_img img {
		width: 50px;
	}

	.main_img {
		border: 1px solid #cccccc;
		margin-bottom: 15px;
	}

	.thumb_img {
		float:left;
		border: 1px solid #e0e0e1;
		margin-right: 7px;
		margin-bottom: 7px;
		overflow: hidden;
		width:50px;
		height:50px; 
		background-color: #fff;
	}
	
	.thumb_img.four_img {
		margin-right: 7px;
	}
	
	h2.page_title {
		clear: both;
		width: 100%;
	}
	
	/*CART---------------------------------------- */
	
	.recycle_bin tbody tr td.rb_delete  {
		display: none;
	}
	
	.recycle_bin tbody tr td.rb_type {
		display: none;
	}
	
	.recycle_bin tbody tr td.rb_num {
		display: none;
	}
	
	.recycle_bin thead > tr > th.delete {
		display: none;
	}
	
	.recycle_bin thead > tr > th.type{
		display: none;
	}
	
	.recycle_bin thead > tr > th.num{
		display: none;
	}
	
	.recycle_bin tfoot  tr > td:first-child {
		display: none;
	}
	
	#wpshop_background_alert_put_to_cart > div {
		width: 230px !important;
	}
	
	.wpshop-button,
	#wpshop-butt-1 .wpshop-button1,
	#wpshop-butt-1 .wpshop-button2,
	#wpshop-butt-2 .wpshop-button1,
	#wpshop-butt-2 .wpshop-button2,
	#wpshop_reg_user_form input[type=submit]  {
		margin: 0px auto 10px !important;
		display: block !important;
		text-align: center !important;
	}
}
